<div class="">
    <div class=""> 
         <img class=" ml-[200px] mt-[50px]" src="../../assets/images/Taskify.png"/>

         
   
    </div>

      <div class=" "> 
        <p class="ml-[180px] " style="font-family: 'Chakra Petch';">"Taskify: Simplifying Your To-Dos, One Task at a Time!"</p>
    </div>


    <div class="">
        <img class="w-1/1 mt-[50px] ml-[-50px]" src="../../assets/images/image.png"/>
    </div>
   

    
      <div class=" "> 
        <p class="ml-[350px] mt-[50px] text-[25px] " style="font-family: 'Monorama';">Pricing</p>
    </div>

    <div class="flex">
        <div class="w-[350px] h-[150px] bg-white m-5 rounded-lg p-5">
             <h1 class="bg-transparent text-[25px] " style="font-family: 'Monorama';">OMG, IT'S FREE</h1>
             <h1 class="bg-transparent" style="font-family: 'Monorama';" >FREE PLAN FOR ALL USERS</h1>
        </div>
        <div class="w-[350px] h-[150px] bg-white m-5 rounded-lg p-5">
                   <h1 class="bg-transparent text-[25px]" style="font-family: 'Monorama';">OH NO, PRICEY.</h1>
             <h1 class="bg-transparent" style="font-family: 'Monorama';">COME ON. BUY IT.</h1>
        </div>
    </div>
    
    
</div>