<div class="parent bg">
    <div class="flex items-center justify-center w-auto"> 
         <img class="" src="../../assets/images/Taskify.png"/>

         
   
    </div>

      <div class=" flex items-center justify-center w-auto"> 
        <p class="" style="font-family: 'Chakra Petch';">"Taskify: Simplifying Your To-Dos, One Task at a Time!"</p>
    </div>


    <div class="flex items-center justify-center w-auto">
        <img class="w-1/1 mt-[50px] ml-[-50px] sm:[]" src="../../assets/images/image.png"/>
    </div>
   

    
      <div class="flex items-center justify-center w-auto"> 
        <p class="" style="font-family: 'Monorama';">Pricing</p>
    </div>

    <div class="flex items-center justify-center w-auto xl:flex-row ">
        <div class="w-[350px] h-[150px] sm:w-[240px] bg-white m-5 rounded-lg p-5">
             <h1 class="bg-transparent text-[25px] " style="font-family: 'Monorama';">OMG, IT'S FREE</h1>
             <h1 class="bg-transparent" style="font-family: 'Monorama';" >FREE PLAN FOR ALL USERS</h1>
        </div>
        <div class="w-[350px] h-[150px] sm:w-[240px] bg-white m-5 rounded-lg p-5">
                   <h1 class="bg-transparent text-[25px]" style="font-family: 'Monorama';">OH NO, PRICEY.</h1>
             <h1 class="bg-transparent" style="font-family: 'Monorama';">COME ON. BUY IT.</h1>
        </div>
    </div>
    
    
</div>