


<div class="w-[710px] h-[910px] mt-5 ml-[70px] pt-[55px] pl-10 pr-10 rounded-lg bg-[#FFFFFF]">
     
<label for="todoItem ">

    <div class="text-[48px] bg-transparent " style="font-family: 'Monorama';">To Do List</div>
</label>

<div class="bg-transparent h-[400px]">

   
    <ol class="bg-transparent" >
        @for (item of todoList; track item) {
            <li class="bg-transparent text-[20px] pl-[20px]" style="font-family: 'Chakra Petch';" >• {{item}}</li>
        }
    </ol>
</div>


<div class="text-[35px]  p-5 rounded-lg" style="font-family: 'Monorama';">
    New Todo
   <input class="bg-[#FFFFFF] rounded-[10px] w-[590px] h-[70px] pl-[20px] text-[20px] " placeholder="Add Todo.. " type="text" name="todoItem" id="todoItem" [formControl]="todoItem"/>

</div>
 
<button class="bg-[#1d1d1f] text-[#FFFFFF] w-[200px] h-[50px] rounded-[150px] mt-[25px]" (click)="pushItemToList()"> Add ToDo</button> 

<div class="bg-transparent">
    <p class=" bg-transparent mt-[25px] opacity-50" style="font-family: 'Chakra Petch'; ">Each tick represents not just a task completed, but a step closer to realizing our aspirations and shaping our destiny. In the symphony of existence, let Taskify be your conductor, orchestrating harmony amidst life's cacophony.</p>
</div>

</div>




